/* Fuentes */
body {
    font-family: 'Roboto', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    box-sizing: border-box; /* Aplicando border-box a todo el documento */
}

*, *::before, *::after {
    box-sizing: inherit;
}

/* Header */
header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    margin-bottom: 1em;
    box-sizing: content-box; /* Manteniendo el contenido dentro de los límites del padding y el borde */
}

h1 {
    margin: 0;
    font-size: 2em;
}

/* Main */
main {
    padding: 2em;
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
}

/* Introducción */
.intro p {
    font-size: 1.2em;
    margin: 1em 0;
    padding: 0.5em;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    background-color: #e8f5e9; /* Verde claro */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    box-sizing: border-box; /* Incluyendo padding y borde en el tamaño total */
}

/* Highlights */
.highlights {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.highlights h2 {
    color: #4CAF50;
    margin-bottom: 0.5em;
    font-family: 'Georgia', serif;
}

ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.highlight-item {
    display: inline-block;
    background-color: #e0f7fa; /* Azul claro */
    padding: 1em;
    margin: 0.5em 0;
    border: 2px solid #4CAF50;
    border-radius: 10px;
    width: calc(100% - 2em);
    height: 100px;
    box-sizing: border-box; /* Incluyendo padding y borde en el tamaño total */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.highlight-item:hover {
    background-color: #b2ebf2;
    cursor: pointer;
    transform: scale(1.05);
}

/* Footer */
footer {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
    box-sizing: border-box; /* Incluyendo padding y borde en el tamaño total */
}
